<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <body style="background-image: url('/static/arka_planlar/arka_plan.JPEG'); background-size: cover; background-position: center;">
  <title>Kod Al - Platform Seç</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body class="select-screen">

  <h2 class="main-title">Platform Seçin</h2>

  <footer style="position: fixed; bottom: 10px; width: 100%; text-align: center;">
    <a href="https://www.itemsatis.com/profil/rosewfshop.html" target="_blank" style="color: white; font-size: 14px; text-decoration: underline;">
      RosewfSoftware ™ 2025 Tüm Hakları Saklıdır
    </a>
  </footer>

  <div class="platform-grid">
    <a href="/disney">
      <div class="platform-card">
        <img src="/static/logos/disney.png" alt="Disney+" />
        <p>Disney+</p>
      </div>
    </a>
    <a href="/netflix">
      <div class="platform-card">
        <img src="/static/logos/netflix.png" alt="Netflix" />
        <p>Netflix</p>
      </div>
    </a>
    <a href="/steam">
      <div class="platform-card">
        <img src="/static/logos/steam.png" alt="Steam" />
        <p>Steam</p>
      </div>
    </a>
  </div>
  
  
  
</body>
</html>
